.app-container {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  min-height: 70dvh;
  background-color: var(--app-background-color);
  border-radius: 20px;
  padding: 20px 5px;
  gap: 20px;
  box-shadow: var(--shadow);
  margin-top: 5dvh;
}
